#Home{
    margin-left: calc(250px + 20px);
    margin-right: 20px;
    // box-sizing: border-box;
    min-height: 100vh;
    h1{
        margin: 0;
        padding: 20px 0;
    }

    .Notes-Container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items:flex-start;
    }
    #Btn-Add-Note{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color : var(--sidebarColorLight);
        border: none;
        color: white;
        font-weight: bold;
        font-size: 45px;
        position: fixed;
        right: 12px;
        bottom: 12px;

        &:hover{
            cursor: pointer;
            background-color: rgb(85, 91, 214);
        }

    }
   
}