#Sidebar-Tile{
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 4px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    width: 90%;
    color: white;
    text-align: start;
    overflow: hidden;
}

#Sidebar-Tile:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}