:root{
    --bgColor: #F0F0F0;
    --Color1 : rgb(64, 69, 175);
    --sidebarColorDark : rgb(11, 14, 23);
    --sidebarColorDark2 : rgb(21, 29, 43);
    --noteCardColor : white;
    
}

.M-0{
    margin:0;
}
.M-T-0{
    margin-top: 0;
}
.M-B-0{
    margin-bottom: 0;
}

/* 
Media Queries : 

(mobile )
width <= 480px {
    1 note per row
    no sidebar
}

(mobile, tablets )
481px <= width <=768px { 
    2 note per row
    no sidebar
}

769 <= width <= 1024px {
    2 note per row
    show sidebar
}

(mobile, tablets )
1025px <= width{
    show Sidebar
}

*/

